
/*----------------------- Mobile --------------------------*/

.hero {
    padding-bottom: var(--gutter-xlarge8);
}
  
.tagline {
  position: relative;
  padding: var(--gutter);
  height: 50vh;
  background: var(--color-gradient);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
}
  
.headline {
  margin: auto;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
  
.sectionportfolio #icon {
  padding: 0.5em;
  font-size: var(--font-size-large);
  background: var(--color-gradient);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
  
.portfoliotitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
.sectionportfolio {
  display: grid;
  padding: var(--gutter) 0;
  grid-gap: var(--gutter) / 2;
  grid-template-columns: var(--gutter) 1fr var(--gutter);
  align-content: start;
}
  
.sectionportfolio > * {
  grid-column: 2 / -2;
}

.sectionportfolio > .full {
  grid-column: 1 / -1;
}
  
.hs {
  display: grid;
  grid-gap: calc(var(--gutter) / 2);
  grid-template-columns: 10px;
  grid-template-rows: minmax(150px, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: calc(80% - var(--gutter) * 1);

  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-bottom: calc(.75 * var(--gutter));
  margin-bottom: calc(-.25 * var(--gutter));
}

.hs:before,
.hs:after {
  content: '';
  width: 10px;
}

.hs > li {
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 8px;
}

.no-scrollbar {
  scrollbar-width: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
  


/*----------------------- Min 768px --------------------------*/

@include grid-media(tablet) {

  .hs {
      grid-auto-columns: calc(50% - var(--gutter) * 1);
  }

  .tagline {
    font-size: var(--font-size-xlarge);
  }

  .tagline {
    grid-column: 2 / 12;
  }

}


/*----------------------- Min 1440px --------------------------*/

@include grid-media(desktop) {

  .hs {
      grid-auto-columns: calc(30% - var(--gutter) * 1);
  }

  .tagline {
    height: 70vh;
  }

  .tagline h2 {
    font-size: var(--font-size-xxxlarge);
    padding: 0 var(--gutter-xlarge);
  }

  .tagline {
    font-size: var(--font-size-xlarge);
  }

}