
/*----------------------- Mobile --------------------------*/

.header{
    position: sticky;
    z-index: 9;
    top: 0;
    background: var(--color-gradient);
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
}

.menu {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: var(--gutter-small) 0;
}


.current {
    justify-content: center;
}

.logo {
    grid-row: 1;
    text-align: center;
    padding-bottom: var(--gutter-tight);
}

.nav-nav a {
    padding: var(--gutter-xxsmall) var(--gutter-xsmall);
    grid-row: 2;
}


/*----------------------- Min 768px --------------------------*/

@include grid-media(tablet) {

    .menu {
        display: grid;
        justify-content: space-between;
        align-items: center;
        padding: var(--gutter-xsmall);       
    }


    .nav-nav {
        grid-row: 1;
    }
        
    .logo {
        justify-content: center;
        grid-column: 1;
        padding-bottom: 0;
    }

}


/*----------------------- Min 1440px --------------------------*/