---
layout: default
title: About
permalink: /about/


intro: |
  Hi, I'm aRita Grade :)
  
  My career as a Digital Designer began in 2014. In my journey I've
  always been in digital agencies. I have worked on advertising and
  user interface design, especially in the creative construction of
  websites, mobile applications and digital communication for various
  brands. Now I'm in the transition process to be a Product Designer.

  I am experienced in large projects. From dealing with
  international brands in portuguese agencies, I have the skills to
  be part of the different phases within a project - from concept to
  implementation.

---



<div class="about">
  <div class="about-intro-image">
    <img src="{{ "assets/images/profile-pictures/profile.jpg" | relative_url }}" alt="Blank and white portrait of Rita Grade">
  </div>

  <div class="about-intro-description paragraph-normal">
    {{ page.intro | markdownify }}
  </div>

  <div class="about-experience about-attribute">
    <div class="about-section">
      <h3 class="about-section-title type-level-2">Experience</h3>
      <dl class="relational-list">
        {% for experience-item in site.data.experience %}
          <dt class="relational-list__title">{{ experience-item.company | markdownify}}</dt>
          <dd class="relational-list__description rld-period">{{ experience-item.period | markdownify}}</dd>
          <dd class="relational-list__description rld-position">{{ experience-item.position | markdownify}}</dd>
          <hr>
        {% endfor %}
      </dl>
    </div>
  </div>

  <div class="about-education about-attribute">
    <div class="about-section">
      <h3 class="about-section-title type-level-2">Education</h3>
      <dl class="relational-list">
        {% for education-item in site.data.education %}
          <dt class="relational-list__title">{{ education-item.course | markdownify}}</dt>
          <dd class="relational-list__description">{{ education-item.place | markdownify}}</dd>
          <dd class="relational-list__period rld-position">{{ education-item.period | markdownify}}</dd>
          <hr>
        {% endfor %}
      </dl>
    </div>
  </div>

  <div class="about-tools about-attribute">
    <div class="about-section">
      <h3 class="about-section-title type-level-2">Tools</h3>
      <ul class="list--dashed list--small">
        {% for tool in site.data.tools %}
          <li>{{ tool | markdownify }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="about-skills about-attribute">
    <div class="about-section">
      <h3 class="about-section-title type-level-2">Skills</h3>
      <ul class="list--dashed">
        {% for skill in site.data.skills %}
          <li><p>{{ skill }}</p></li>
        {% endfor %}
      </ul>
    </div>
  </div>

</div>


