<footer>
  <hr>
  <ul class="social">
    <li><a href="https://www.behance.net/argdesigner"><p>Behance</p><i class="fab fa-behance" id="icon" label="Navigate to my Behance Profile" alt="Button to navigate to my Behance Profile"></i></a></li>
    <li><a href="https://www.linkedin.com/in/argdesigner"><p>Linkedin</p><i class="fab fa-linkedin" id="icon" label="Navigate to my LinkedIn Profile" alt="Button to navigate to my Linkedin Profile"></i></a></li>
    <li><a href="https://www.dribbble.com/argdesigner"><p>Dribbble</p><i class="fab fa-dribbble" id="icon" label="Navigate to my Dribbble Profile"alt="Button to navigate to my Dribble Profile"></i></a></li>
    <li><a href="https://github.com/ritagrade"><p>Github</p><i class="fab fa-github" id="icon" label="Navigate to my Github Profile" alt="Button to navigate to my Github Profile"></i></a></li>
  </ul>
</footer>