

<ul class="hs full no-scrollbar">

    {% for project in site.projects reversed limit:include.limit %}
    
        <li class="project-listing">
            <div class="thumbnail-wrapper">
                <a href="{{ project.url | prepend: site.baseurl }}">
                    <div class="thumbnail-description-wrapper">
                        <img src="/myportfolio2/{{ project.thumbnail | prepend: site.image_serve_path }}" alt="{{ project.title }}" width="600" height="450">
                        <p class="thumbnail-description">
                            <span>{{ project.description }}</span>
                        </p>
                    </div>
                    <h4 aria-hidden="true">{{ project.title }}</h4>
                </a>
            </div>
        </li>

    {% endfor %}

</ul>
