

/*----------------------- Mobile --------------------------*/

a {
    text-decoration: none;
  }
  
  a:link {
    color: var(--color-light);
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:visited {
    color: var(--color-light);
  }
  
  a:active {
    background-image: linear-gradient(0deg,rgba(244,208,111,0.5) 50%,transparent 50%);
  }
  
  .current {
    background-image: linear-gradient(0deg,rgba(244,208,111,0.5) 50%,transparent 50%);
  }
  
  main a:link {
    text-decoration: none;
  }
  
  .tagline a:link {
    text-decoration: none;
  }
  
  main a:hover {
    text-decoration: none;
  }
  
  .tagline a:hover {
    text-decoration: underline;
  }
  
  ul {
    list-style: none;
  }






/*----------------------- Min 768px --------------------------*/

@media (prefers-color-scheme: dark) {

    a:link {
      color: var(--color-dark);
    }
    a:visited {
      color: var(--color-dark);
    }
    #icon {
      color: var(--color-dark)
    }
    
    a:active {
      background-image: linear-gradient(0deg,rgba(111, 173, 227, 0.5) 50%,transparent 50%);
    }

  }
  
  


/*----------------------- Min 1440px --------------------------*/