:root {

  --color-primary: #FFF;
  --color-secondary: #000;
  --color-tertiary: var(--color-gradient);
  --color-action: #e73c7e;
  --color-gradient: linear-gradient(-95deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);


  --bg-color-light: var(--color-primary);
  --color-light: var(--color-secondary);
  --bg-color-dark: var(--color-secondary);
  --color-dark: var(--color-primary);


  background-color: var(--bg-color-light);
  color: var(--color-light);
  --font-family-primary: 'Lato', sans-serif;
  --font-family-secondary: 'Patua One', cursive;


  --line-height-regular: 3rem;
  --line-height-tight: 2rem;
  --line-height-tiny: 1.5rem;



  --font-size-xsmall: 1rem;
  --font-size-small: 1.5rem;
  --font-size-normal: 2rem;
  --font-size-large: 2.4rem;
  --font-size-xlarge: 3rem;
  --font-size-xxlarge: 3.2rem;
  --font-size-xxxlarge: 4rem;
  --font-size-404: 10rem;

  --font-size-button: var(--font-size-large);
  --font-size-form-label: var(--font-size-xlarge);
  --font-size-nav: var(--font-size-xlarge);

  --paragraph-spacing: 1.3rem;



  --gutter-xxsmall: 0.5rem;
  --gutter-xsmall: 1rem;
  --gutter-small: 1.5rem;
  --gutter-tight: 2rem;
  --gutter-regular: 3rem;
  --gutter-large: 4rem;
  --gutter-xlarge: 6rem;
  --gutter-xlarge8: 8rem;
  --gutter-xxlarge: 12rem;


  --gutter: #{rem(24px)};
  --gutter-row: #{rem(24px)};
  --page-margin: #{rem(32px)};
  --inner-padding: #{rem(16px)};
  --inner-padding-horizontal: #{rem(10px)};

  --color-highlight-rgb: var(--color-tertiary);
  --color-highlight: rgb(var(--color-highlight-rgb));


  --color-form-background: var(--color-primary);

  --color-cta: var(--color-action);

}

@include grid-media(tablet) {
  :root {
    --line-height-tight: 3rem;
    --line-height-slight: 1.45;

    --font-size-xsmall: 1.5rem;
    --font-size-small: 2.5rem;
    --font-size-normal: 2rem;
    --font-size-large: 3rem;
    --font-size-xlarge: 3rem;
    --font-size-xxlarge: 3.2rem;
    --font-size-xxxlarge: 4rem;
    --font-size-404: 10rem;
  


    --page-margin: #{rem(64px)};
  }
}

@include grid-media(desktop) {
  :root {
    --font-size-root: 17px;
    --font-size-level-jumbo: var(--font-size-xxxxxxlarge);
    --font-size-body: var(--font-size-xlarge);
    --font-size-body-large: var(--font-size-xxlarge-2);
    --font-size-body-huge: var(--font-size-xxxxlarge);

    --gutter: #{rem(32px)};
    --gutter-row: #{rem(32px)};
  }
}



//Base
$measure-xxxsmall: rem(4px);
$measure-xxsmall: rem(8px);
$measure-xsmall: rem(12px);
$measure-small: rem(20px);
$measure-normal: rem(28px);
$measure-medium: rem(32px);
$measure-large: rem(64px);


$timing-interaction: .2s;


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



@media (prefers-color-scheme: dark) {
  :root {
    background-color: var(--bg-color-dark);
    color: var(--color-dark);
  }

  #icon {
    color: var(--color-dark)
  }

  .current {
    background-image: linear-gradient(0deg,rgba(111, 173, 227, 0.5) 50%,transparent 50%);
  }
}


@include grid-media(tablet) {
  :root {
    font-size: 0.85rem;
  }

}

@include grid-media(desktop) {
  :root {
    font-size: .85rem;
  }

}